.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.main-container{
    width: 800px;
    min-height: 1000px;
    margin: 50px auto;
}

.content-container{
    font-size: 20px;
    color: #ece7e7;
    text-align: justify;
    padding: 16px 8px;
    margin-top: 16px;
    border-top: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
    width: 100%;
    min-height: 500px;

}

.footer-container{
    color: #ece7e7;
    justify-content: space-between;
    margin-top: 5px;
}

.space-between{
    justify-content: space-between;
}

.edit-button{
    border: #ccc solid 1px ;
    background-color: #212529;
    width: 70px;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    color: #ccc;
    transition: all 0.2s;
}

.edit-button:hover{
    color: #fff;
}

@media (max-width: 608px) {

    .main-container{
        width: 390px;
    }
}

.image-area{
    max-width: 800px;
}