.register-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
    margin: auto;
}

.margin-bot{
    margin-bottom: 20px;
}

.form-container {
    padding: 20px;
    background-color: rgb(33,37,41)
}

.self-end{
 justify-self: end;
}

.button-container{
    flex-direction: row-reverse;
    display: flex;
}