.edit-container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 800px;
    margin: auto;
}


.form-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(33,37,41)
    
}

.image-container {
    border-radius: 5px;
    margin: 20px auto ;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 330px;
    align-items: center;
    background-color: #111;
    padding: 10px 10px;
}
.self-end{
 justify-self: end;
}

.button-container{
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}

.switch-button {
    width: 260px;
    height: 40px;
    border-radius: 5px;
    border: #ccc solid 1px;
    background-color: #212529;
    font-size: 20px;
    text-align: center;
    color: #ccc;
    transition: all 0.2s;
    
}

.warning-link {
    color: #ff6347;
}

.warning-link:hover {
    color: #ff2e1f;
}

.switch-button:hover {
    color: #fff;
    border: #fff solid 1px;
}

@media (max-width: 608px) {
    .login-container {       
        width: 375px;        
    }    
}