.LoginMessageSecond {
  opacity: 0.5;
  font-size: 20px;
}

.LoginMessage {
  font-family: "Poppins", sans-serif;
}

.benefits {
  font-size: 17px;
  font-weight: 300;
}

.game-list-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 1500px;
}

.last-rev-container {
  max-width: 750px;
  display: flex;
  flex-direction: column;

}

.ConvincingMessage {
  font-family: "Poppins", sans-serif;
  border-radius: 5%;
  height: auto;
}

.divisao {
  margin-top: 200px;
}

.botao {
  background: none;
  color: #ff851b;
  border: 2px solid;
  font-size: 1em;
  padding: 1em 2em;
  transition-duration: 0.2s;
}

.botao:hover {
  border-color: #ffd500;
  color: white;
  box-shadow: 0px 0.5em 0.5em -0.4em #ffd500;
  transform: translateY(-0.25em);
  cursor: pointer;
}

@media (max-width: 600px) {
  .game-list-container {
   
    width: 300px;
  }
  .last-rev-container {
    /* background-color: #ff851b; */
    margin: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
  
  }
}