.login-container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 800px;
    margin: auto;
}


.form-container {
    padding: 20px;
    background-color: rgb(33,37,41)
}

.self-end{
 justify-self: end;
}

.button-container{
    flex-direction: row-reverse;
    display: flex;
}

@media (max-width: 608px) {
    .login-container {       
        width: 375px;        
    }    
}